@charset "UTF-8";

*{margin:0;padding:0;}
a:link,a:visited{text-decoration:none;color:#ffffff;}
li{list-style-type:none;}

html,body{overflow-x:hidden;margin:0;padding:0;}
body{font-size:16px;font-family:spotify-circular, Helvetica, Arial, sans-serif;}

.intro{}
.intro .title{padding-top:247px;font-size:54px;line-height:88px;text-align:center;}
.intro .homework{margin-top:67px;}
.intro .homework .homework_link{display:block;width:454px;margin:0 auto;padding:10px 0;background-color:#d9d9d9;font-size:29px;font-weight:600;text-align:center;}
.intro .homework .homework_link:nth-child(2){margin-top:22px;background-color:#30d3ac;}

/**************************************************** header ****************************************************/
.header{display:flex;justify-content:space-around;height:80px;background-color:#000000;}

.header .logo{display:flex;display:-webkit-flex;width:132px;align-items:center;}
.header .logo a{display:block;height:80px;padding-top:18px;box-sizing:border-box;}
.header .logo img{display:block;max-width:100%;}
.navigator{display:flex;display:-webkit-flex;}
.navigator .navigator-item{padding:28px 17px;font-weight:600;line-height:21px;color:#ffffff;}
.navigator a:hover{color:#1ed760;}

/**************************************************** main ****************************************************/
.main{display:flex;justify-content:center;align-items:center;min-height:968px;background:#2941ab url(../img/main/bursts.svg) no-repeat;background-size:175%;background-position:46% 4%;}
.main_con{display:flex;flex-direction:column;align-items:center;gap:40px;}
.main_con_title{position:relative;font-size:9.1875rem;font-weight:800;line-height:140px;color:#1ed760;left:250px;}
.main_con_title span{display:block;}
.main_con_title .title1{position:relative;left:-2.5em;}
.main_con .sub_text{font-size:18px;color:#1ed760;line-height:26px;}
.main_con .link{padding:14px 32px;border-radius:30px;background-color:#1ed760;font-weight:700;color:#2941ab;}
.main_con .link:hover{transform:scale(1.07);background-color:#2de26d;}

/**************************************************** footer ****************************************************/
.footer{background-color:#000000;}
.footer_content{display:block;width:100%;max-width:1170px;margin-right:auto;margin-left:auto;}
.footer_menu{display:flex;justify-content:space-between;width:100%;padding: 51.6px 0 125.4px;}
.first_content{display:flex;gap:40px;}
.footer .footer_logo{line-height:93px;width:132px;}
.footer .footer_logo img{max-width:100%;}
.footer .info .info_item h4{margin:20px 0;color:#919496;font-weight:800;}
.footer .info{display:flex;gap:40px;}
.footer .info .info_item{padding:0 15px;}
.footer .info .info_item ul li a{display:block;padding:3px 0 15px;}
.footer .info .info_item ul li a:hover{color:#1ed760;}
.footer .info .info_item + .info_item{}
.second_content{display:flex;padding-top:6px;}
.second_content .sns_icon{display:flex;width:54px;height:54px;border-radius:50%;background-color:#222322;justify-content:center;align-items:center;font-size:21px;}
.second_content .sns_icon i{}
.second_content .sns_icon:not(:first-child){margin-left:16px;}
.sub_menu{display:flex;justify-content:space-between;margin-top:13px;}
.copyright{width:100%;max-width:1170px;margin-right:auto;margin-left:auto;}
.copyright .global{text-align:right;font-size:12px;color:#919496;}
.link{padding:0px 0 63.6px 0;}
.link .link_item{display:inline-block;color:#919496;}
.link .link_item:not(:first-child){margin-left:24px;}
.link .link_item:hover{color:#1ed760;}

.copyright_text{color:#919496;}
@media all and (max-width:1400px){
    .header{height:calc(100vw * (80 / 1400));}
    .header .logo{width:calc(100vw * (132 / 1400));}
    .header .logo a{height:calc(100vw * (80 / 1400));padding-top:calc(100vw * (18 / 1400));}
    .navigator .navigator-item{padding:calc(100vw * (28 / 1400)) calc(100vw * (17 / 1400));line-height:calc(100vw * (21 / 1400));}
    .main{min-height:calc(100vw * (968 / 1400));}
    .main_con_title{font-size:calc(100vw * (147 / 1400));line-height:calc(100vw * (140 / 1400));left:calc(100vw * (250 / 1400));}
    .main_con .sub_text{font-size:calc(100vw * (18 / 1400));line-height:calc(100vw * (26 / 1400));}
    .main_con .link{padding:calc(100vw * (14 / 1400)) calc(100vw * (32 / 1400));border-radius:calc(100vw * (30 / 1400));}
    .footer_content,.copyright{max-width:calc(100vw * (1200 / 1400));}
    .footer .footer_logo{line-height:calc(100vw * (93 / 1400));width:calc(100vw * (132 / 1400));}
    .footer .info .info_item{padding:0 calc(100vw * (15 / 1400));}
    .footer .info .info_item h4{margin:calc(100vw * (20 / 1400));}
    .footer .info .info_item ul li a{padding:calc(100vw * (8 / 1400)) calc(100vw * (15 / 1400));}
    .second_content{padding-top:calc(100vw * (6 / 1400));}
    .second_content .sns_icon{width:calc(100vw * (54 / 1400));height:calc(100vw * (54 / 1400));font-size:calc(100vw * (21 / 1400));}
    .second_content .sns_icon:not(:first-child){margin-left:calc(100vw * (16 / 1400));}
}
@media all and (max-width:1240px){
    .header{height:calc(100vw * (80 / 1240));}
    .header .logo{width:calc(100vw * (132 / 1240));}
    .header .logo a{height:calc(100vw * (80 / 1240));padding-top:calc(100vw * (18 / 1240));}
    .navigator .navigator-item{padding:calc(100vw * (28 / 1240)) calc(100vw * (17 / 1240));line-height:calc(100vw * (21 / 1240));}
    .main{min-height:calc(100vw * (968 / 1240));}
    .main_con_title{font-size:calc(100vw * (147 / 1240));line-height:calc(100vw * (140 / 1240));left:calc(100vw * (250 / 1240));}
    .main_con .sub_text{font-size:calc(100vw * (18 / 1240));line-height:calc(100vw * (26 / 1240));}
    .main_con .link{padding:calc(100vw * (14 / 1240)) calc(100vw * (32 / 1240));border-radius:calc(100vw * (30 / 1240));}
    .footer_content,.copyright{max-width:calc(100vw * (970 / 1200));}
    .footer .footer_logo{line-height:calc(100vw * (93 / 1240));width:calc(100vw * (132 / 1240));}
    .footer .info .info_item{padding:0 calc(100vw * (15 / 1240));}
    .footer .info .info_item h4{margin:calc(100vw * (20 / 1240));}
    .footer .info .info_item ul li a{padding:calc(100vw * (8 / 1240)) calc(100vw * (15 / 1240));}
    .second_content{padding-top:calc(100vw * (6 / 1240));}
    .second_content .sns_icon{width:calc(100vw * (54 / 1240));height:calc(100vw * (54 / 1240));font-size:calc(100vw * (21 / 1240));}
    .second_content .sns_icon:not(:first-child){margin-left:calc(100vw * (16 / 1240));}
}
@media all and (max-width:1000px){
    body{font-size:calc(100vw * (16 / 1000))}
    .header{height:calc(100vw * (80 / 1000));}
    .header .logo{width:calc(100vw * (132 / 1000));}
    .header .logo a{height:calc(100vw * (80 / 1000));padding-top:calc(100vw * (18 / 1000));}
    .navigator .navigator-item{padding:calc(100vw * (28 / 1000)) calc(100vw * (17 / 1000));line-height:calc(100vw * (21 / 1000));}
    .main{min-height:calc(100vw * (968 / 1000));}
    .main_con_title{font-size:calc(100vw * (100 / 1000));line-height:calc(100vw * (120 / 1000));left:calc(100vw * (167 / 1000));}
    .main_con .sub_text{font-size:calc(100vw * (18 / 1000));line-height:calc(100vw * (26 / 1000));}
    .main_con .link{padding:calc(100vw * (14 / 1000)) calc(100vw * (32 / 1000));border-radius:calc(100vw * (30 / 1000));}
    .footer_content,.copyright{max-width:calc(100vw * (940 / 1000));}
    .footer_menu{padding:calc(100vw * (80 / 1000)) 0 calc(100vw * (50 / 1000));flex-direction:column;}
    .first_content{gap:calc(100vw * (20 / 1000));}
    .footer .footer_logo{line-height:calc(100vw * (93 / 1000));width:calc(100vw * (132 / 1000));}
    .footer .info{gap:calc(100vw * (20 / 1000));}
    .footer .info .info_item{padding:0 calc(100vw * (15 / 1000));}
    .footer .info .info_item h4{margin:calc(100vw * (20 / 1000));}
    .footer .info .info_item ul li a{padding:calc(100vw * (8 / 1000)) calc(100vw * (15 / 1000));}
    .second_content{padding-top:calc(100vw * (6 / 1000));}
    .second_content .sns_icon{width:calc(100vw * (54 / 1000));height:calc(100vw * (54 / 1000));font-size:calc(100vw * (21 / 1000));}
    .second_content .sns_icon:not(:first-child){margin-left:calc(100vw * (16 / 1000));}
}